# Python
__pycache__/
*.pyc
venv/
.env

# Large Binaries (Not needed on repo, Docker installs them)
ffmpeg/
yt-dlp.exe

# Downloads / Binary files
downloads/
*.webm
*.mp4
*.mkv

# Editor
.vscode/
.idea/
